
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#logo {
    display: flex;
    align-items: center;
    gap: 12px;
    text-transform: capitalize;
    color: #25C4F4;
}
body{
    margin: 2rem;
    font-family: 'poppins',Arial, Helvetica, sans-serif;
}
.text-content{
    margin: 3rem;
    

}
.text-content a{
    color: #25C4F4;
}
.text-content p{
    margin-bottom: 1px;
}
.codes span{
    border: solid #98A2B3;;;
    color: black;
}
button{
    border: none;
    padding: 1rem 3rem;
    background-color: #25C4F4;
    border-radius: 0.2rem;
    font-size: 1rem;
    margin-top: 1rem;
}
span{
    color: #25C4F4;
}
.aa{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}